* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }

    .myCarousel {
        img {
            // height: auto !important;
            height: 90vh !important;
            // width: 2000px !important;
            object-fit: cover !important;
        }
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.appBody {
    background-color: #FBFBFD;
}



.story-container {


    .avatar {
        background-color: #c72b50;
        border-radius: 50%;
        line-height: 32px;
        height: 32px;
        width: 32px;

        margin: 0 10px;

    }

    header {
        display: flex;
        justify-content: center;

        div {
            display: block;
        }

    }
}


.btn-primary.focus,
.btn-primary:focus {

    box-shadow: 0 0 0 0.2rem #c72b50 !important;
}

.btn {
    background-color: #c72b50 !important;
    border-color: #c72b50 !important;


}

h2 {
    padding: 20px
}


.addStory {
    max-height: 100px;
    max-width: 100px;

    :hover {
        cursor: pointer;
    }

    p {
        margin: 20px 0;
    }
}

.story {
    box-shadow: 3px 2px 5px 2px #888888;
    padding: 20px 0;
    border-radius: 8px;
}

.myCarousel {




    max-width: 100vw;

    div {
        // height: 90vh !important;
        // overflow: hidden !important;
        max-height: 90vh !important;


    }




}

.myCarousel a {
    position: absolute !important;


}

@media(min-width:511px) {}

.nav-container {
    display: flex;
    align-items: center;
    // overflow: auto;
    max-height: 10vh;
    padding: 10px;

    span {
        color: #c72b50
    }


    .nav {
        flex: 1;
        justify-content: flex-end;
        flex-wrap: nowrap;

        a:hover {
            text-decoration: none;
        }


        a {
            margin: 0 20px;
            color: #c72b50
        }
    }

}